// Main Colours
$primary-color: #2B2942;
$secondary-color: #727C9F; 
$dark-accent-color: #5956E9; 
$light-accent-color: #EAEAFC; 

// Typography
$sans-serif: 'Nunito', sans-serif;
$normal: 400;
$semibold: 600;
$bold: 700;

// General
$max-page-width: 1364px;
$box-shadow: 0px 3px 20px rgba(0,23,56,0.16);